* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}


/* This is the css styling for the main div */
.main_div {
    width: 75%;
    height: 90%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 10px 10px 50px 20px grey; */
    border-radius: 16px;
}

/* This is the css styling for the music_player_div */
.music_player_div {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    border-radius: 16px;
    animation-name: colorAnimation;
    animation-duration: 500ms;
    animation-timing-function:cubic-bezier(1, 0, 0, 1);
    animation-iteration-count: infinite;
}

@keyframes colorAnimation {
    0% {
        background-color: rgba(255, 0, 0, 0.30);
        box-shadow: 10px 10px 50px 20px rgba(255, 102, 0, 0.75);
    }
    25% {
        background-color: rgba(255, 102, 0, 0.30);
        box-shadow: 10px 10px 50px 20px rgba(255, 0, 0, 0.75);
    }
    50% {
        background-color: rgba(255, 255, 0, 0.30);
        box-shadow: 10px 10px 50px 20px rgba(255, 0, 0, 0.75);
    }
    75% {
        background-color: rgba(209, 201, 87, 0.30);
        box-shadow: 10px 10px 50px 20px rgba(255, 0, 119, 0.658);
    }
    100% {
       background-color: rgba(255, 0, 0, 0.30);
       box-shadow: 10px 10px 50px 20px rgba(209, 201, 87, 0.75);

    }
}

/* This is the css styling for the left section */
.left_section {
    width: 50%;
    display: block;
    position: relative;
}

/* This is css styling for the music_info_div */
.music_info_div {
    width: 100%;
    height: 20%;
    display: block;
    position: relative;
}

/* This is the css styling for the music_title_div */
.music_title_div {
    width: 100%;
    height: 50%;
    position: relative;
}

.music_title {
    position: absolute;
    top: 70%;
    left: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    transform: translate(-50%, 0%);
}

/* This is the css styling for the music_artists_div */
.music_artists_div {
    width: 100%;
    height: 50%;
    position: relative;
}

.music_artists {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: cursive;
    transform: translate(-50%, 0%);
}

/* This is css styling for the music cover div */
.cover_image_div {
    width: 100%;
    height: 80%;
    position: relative;
}

/* This is css styling for the img  */
.cover_image_div img {
    width: 350px;
    height: 350px;
    position: relative;
    display: flex;
    top: 15%;
    margin: auto;
    border-image: round;
    border-radius: 250px;
}

/* This is the css for the cover image rotation */
.rotating_anim {
    animation-name: image_rotation;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation-iteration-count: infinite;
}

@keyframes image_rotation {
    from {
        transform: rotate(0deg) ;
    }
    to {
        transform: rotate(360deg);
    }
}

/*_______________________Right Section CSS_____________________*/
/* This is the css styling for the right section */
.right_section {
    width: 50%;
}

/* This is the css styling for music_control_div */
.music_control_div {
    width: 100%;
    height: 100%;
    display: block;
}

/* This is the css for music_time_info_div */
.music_time_info_div {
    width: 95%;
    position: relative;
    display: flex;
    margin: auto;
    top: 70%;
    justify-content: space-between;
}

/* This is the css for progress_div */
.progress_div {
    width: 90%;
    height: 50px;
    position: relative;
    display: flex;
    margin: auto;
    top: 70%;
}


/* This is the css for progressbar */
.progress_bar {
    width: 100%;
    height: 5px;
    position: relative;
    display: flex;
    top: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.progress_bar:hover {
    cursor: pointer;
}

/* This is the css for progress */ 
#progress {
    width: 50%;
    height: 100%;
    background-color: rgb(250, 204, 0);
    border-radius: 20px;
}

/* This is the css for progress circle */
.progress_circle {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: rgb(250, 204, 0);
    position: absolute;
    top: -100%;
    transform: translateX(-50%);
    box-shadow: 2px 2px 10px 4px rgb(255, 166, 0);
}

.progress_circle:hover {
    cursor: pointer;
}

/* This is the css for the playback_control_div */
.playback_control_div {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 70%;
}

/* This id the css for the play div */
#play_div {
    width: 50px;
    height: 50px;
    display: flex;
    position: relative;
    background-color: rgb(255, 187, 0);
    border-radius: 50px;
}

#play {
    display: flex;
    position: relative;
    margin: auto;
}

#play_div:hover {
    cursor: pointer;
    background-color: rgb(250, 0, 42);
    box-shadow: 5px 1px 40px 5px rgb(245, 0, 143);
}

#play_div:hover > #play {
    color: aliceblue;
}

/* This is the css for forward_div  */
#forward_div {
    width: 50px;
    height: 50px;
    display: flex;
    position: relative;
    border-radius: 50px;
}

#forward {
    display: flex;
    position: relative;
    margin: auto;
}

#forward_div:hover {
    cursor: pointer;
    
}

#forward_div:hover > #forward {
    color: rgb(250, 0, 67);
}

/* This is the css for backward_div  */
#backward_div {
    width: 50px;
    height: 50px;
    display: flex;
    position: relative;
    border-radius: 50px;
}


#backward {
    display: flex;
    position: relative;
    margin: auto;
}

#backward_div:hover {
    cursor: pointer;
    
}

#backward_div:hover > #backward {
    color: rgb(250, 0, 67);
}

/*___________________CSS For Medis Queries______________________*/
/* For Screen Less than 1024px */
@media only screen and (max-width: 1024px) {
/* This is the css styling for the main div */
.main_div {
    width: 90%;
    height: 90%;
    border-radius: 40px;
}

/* This is the css styling for the music_player_div */
.music_player_div {
    display: block;
    position: relative;
    border-radius: 40px;
}


/* This is the css styling for the left section */
.left_section {
    width: 100%;
    height: 70%;
    display: block;
    position: relative;
}

/* This is the css styling for the music_title_div */

.music_title {
    font-size: 24px;
}

.music_artists {
    font-size: 14px;
}

/* This is css styling for the img  */
.cover_image_div img {
    width: 250px;
    height: 250px;
}

/* This is the css for the cover image rotation */
.rotating_anim {
    animation-name: image_rotation;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    animation-iteration-count: infinite;
}

@keyframes image_rotation {
    from {
        transform: rotate(0deg) ;
    }
    to {
        transform: rotate(360deg);
    }
}

/*_______________________Right Section CSS_____________________*/
/* This is the css styling for the right section */
.right_section {
    width: 100%;
    height: 30%;
    position: relative;
}

/* This is the css for music_time_info_div */
.music_time_info_div {
    top: 0;
}

/* This is the css for progress_div */
.progress_div {
    top: 0;
}

/* This is the css for the playback_control_div */
.playback_control_div {
    top: 0;
}
}

/*_______________ For Screen Less than 300px__________ */
@media only screen and (max-width: 320px) {
        
    /* This is the css styling for the music_title_div */
    
    .music_title {
        font-size: 18px;
        top: 60%;
    }
    
    .music_artists {
        font-size: 12px;
    }
    
    /* This is css styling for the img  */
    .cover_image_div img {
        width: 220px;
        height: 220px;
    }
    
}

/*_______________ For Screen Less than 300px__________ */
@media only screen and (max-height: 480px) {


    /* This is the css styling for the music_player_div */
    .music_player_div {
        display: flex;
        position: absolute;
        border-radius: 40px;
    }

    /* This is the css for right section */
    .right_section {
        height: 100%;
        position: absolute;
    }

    /* This is the css for music title */
    .music_title {
        top: 30%;
    }
    
    /* This is css styling for the img  */
    .cover_image_div img {
        width: 150px;
        height: 150px;
    }

    /* This is the css for music_time_info_div */
.music_time_info_div {
    width: 85%;
    top: 60%;
}

/* This is the css for progress_div */
.progress_div {
    width: 75%;
    top: 60%;
}

/* This is the css for the playback_control_div */
.playback_control_div {
    top: 60%;
}

/* #forward, #backward {
    color: aliceblue;
}

#mucic_current_time, #music_total_duration {
    color: aliceblue;
} */
    
}